<div class="oval-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),
 rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/
 <%= post.description%>');" data-post-id="<%= post.id %>">

<p class= "bold-text"><%= post.description %></p>
<p style="text-decoration: underline;"><%= post.location %></p>

<%# <p><%= post.treasures %>

</div>
