<div class="container mt-5" style="margin-bottom: 60px;">
    <h2 class="mb-3">Dashboard: <%= @user.first_name %> <%= @user.last_name %></h2>

  <hr>


  <div class="row mb-4">
      <div class="col-md-12">
          <div class="card no-outline-shadow-card_ok mb-0">
              <div class="card-body">
                  <!-- Your Favorites Section -->
                  <%= render 'favourites' %>
                  <!-- Map Section -->
                   <%= render 'map' %>
              </div>
          </div>
        </div>
      </div>
  </div>


          <!-- Your hard rubbish -->
  <div class="card no-outline-shadow-card_ok mb-4">
    <div class="card-body">
      <%= render 'your_hard_rubbish' %>

         <!-- Your Treasures Section -->
        <%= render 'your_treasures' %>
    </div>
  </div>
</div>
