

<div class="col-md-4 map-container sticky-map">
      <div style="width: 100%; height: 1150px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>


    </div>


<div>


<h1>Your Favorites</h1>






<% @favorite_posts.each do |post| %>
  <div>
    <%= link_to post.description, post_path(post) %>
    <%= link_to unfavorite_post_path(post), data: {turbo_method: :delete} do %>
                               <i class="fa-solid fa-heart fa-lg" style="color: red;"></i>

    <% post.treasures.each do |treasure| %>
      <% unless current_user.treasures.collected.include?(treasure) %>
        <div>
          <%= treasure.description %>

          <% if treasure.available? %>
            <%= button_to "Mark as Pending", mark_as_pending_post_treasure_path(post, treasure), method: :put %>
          <% elsif treasure.collected? %>
            <%= button_to "Unavailable", '#', disabled: true, class: 'unavailable-button' %>
          <% elsif treasure.pending? %>
            <%= button_to "Notified Poster", '#', disabled: true, class: 'unavailable-button' %>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </div>
<% end %>
<% end %>

<div>
  <h1>Your Posts</h1>

  <% current_user.posts.each do |post| %>
    <div>
      <%= link_to post.description, post_path(post) %>

      <i class="fa-solid fa-heart fa-lg" style="color: red;">
        <%= post.favoritors.size %>
      </i>

      <% post.treasures.each do |treasure| %>
        <div>
          <%= treasure.description %>

          <% if treasure.pending? %>
            <%= button_to "Mark as Collected", mark_as_collected_post_treasure_path(post, treasure), method: "put" %>
            <%= button_to "Mark as Available", mark_as_available_post_treasure_path(post, treasure), method: "put" %>
          <% end %>

        </div>
      <% end %>

    </div>
  <% end %>
</div>







<div id="instructions"></div>


<div id="favorite-posts" data-favorite-posts="<%= @favorite_posts.to_json %>"></div>


<h1>Your Treasures</h1>

<% current_user.treasures.collected.each do |treasure| %>
  <div>
    <%= treasure.description %>

  </div>
<% end %>
