<div class="container">
  <h1>Edit a Post</h1>
  <%= form_with(model: @post, local: true, html: { enctype: "multipart/form-data" }) do |form| %>
    <div class="form-group">
      <%= form.label :location, "Location" %>
      <%= form.text_field :location, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= form.label :description, "Description" %>
      <%= form.text_area :description, class: "form-control", rows: 3, required: true %>
    </div>
    <div class="form-group">
      <%= form.label :council_pickup_date, "Council Pickup Date" %>
      <%= form.date_field :council_pickup_date, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= form.label :images, "Photos" %>
      <%= form.file_field :images, class: "form-control", multiple: true, name: "images[]" %>
    </div>
    <%= form.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>
