<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>All Posts</h1>
        <%= link_to 'Add New Post', new_post_path, class: 'btn btn-primary' %>
    </div>
    <div class="row">
        <% @posts.each do |post| %>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Location: <%= post.location %></h5>
                        <p class="card-text"><strong>Description:</strong> <%= post.description %></p>
                        <p class="card-text"><strong>Council pickup date:</strong> <%= post.council_pickup_date %></p>
                    </div>
                    <% if post.photos.attached? %>
                        <div class="card-footer">
                            <h6>Photos:</h6>
                            <% post.photos.each do |image| %>
                                <%= cl_image_tag image.key, class: "img-fluid mb-2" %>
                            <% end %>
                        </div>
                        <a href="<%= post_path(post) %>" class="btn btn-primary">More Info</a>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
