<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>All Posts</h1>
        <%= link_to 'Add New Post', new_post_path, class: "btn btn-flat"  %>
    </div>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by location, item or days to council pickup"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

    <div class="row">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <% @posts.each do |post| %>
                <div class="col">
                    <%= link_to post_path(post), class: 'text-decoration-none text-dark' do %>
                        <div class="card h-100">
                            <% if post.photos.attached? %>
                                <div class="card-img-index">
                                    <% post.photos.each do |image| %>
                                        <%= cl_image_tag image.key, class: "img-fluid uniform_image_card", style: "width: 100%;" %>
                                    <% end %>
                                </div>
                            <% else %>
                                <p>No photos available.</p>
                            <% end %>
                            <div class="card-body" style="min-height: 200px;">
                                <h5 class="card-title" ><strong><%= post.location %></strong></h5>
                                <p class="card-text"><%= post.description %></p>
                                  <% if post.council_pickup_date? %>
                                    <p class="card-text"><strong>Council pickup date:</strong> <%= post.council_pickup_date %></p>
                                  <% else %>
                                    <p>No council pickup date available.</p>
                                  <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
