<div class="container">
  <h1>Tell the world about your hard rubbish</h1>
  <%= form_with(model: Post.new, local: true, html: { enctype: "multipart/form-data" }) do |form| %>
    <div class="form-group">
      <%= form.label :location, "Location" %>
      <%= form.text_field :location, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= form.label :description, "Description" %>
      <%= form.text_area :description, class: "form-control", rows: 3, required: true %>
    </div>
    <div class="form-group">
      <%= form.label :council_pickup_date, "Council pickup date (if applicable)" %>
      <%= form.date_field :council_pickup_date, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= form.label :images, "Photos" %>
      <%= form.file_field :images, class: "form-control", multiple: true, name: "images[]" %>
    </div>
    <%= form.submit "Submit", class: "btn btn-primary"%>
  <% end%>
</div>
