<%= simple_form_for(Post.new) do |form| %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 form-login">
          <h1>Post hard rubbish</h1>

          <%= form.error_notification %>
          <div class="form-inputs">
            <%= form.input :location, required: true %>
            <%= form.input :description, required: true, input_html: { rows: 3 } %>
            <%= form.input :council_pickup_date, required: true, as: :date %>
            <%= form.input :photos, as: :file, input_html: { multiple: true } %>
          </div>
          <div class="form-actions">
            <%= form.button :submit, "Submit", class: "btn btn-primary" %>
          </div>

      </div>
    </div>
  </div>

<% end %>
