<div class="container">
  <h1>Post Details</h1>
  <div class="card">
    <div class="card-body">
      <div class="post-details">
        <p><strong>Location:</strong> <%= @post.location %></p>
        <p><strong>Description:</strong> <%= @post.description %></p>
        <p><strong>Council pickup date:</strong> <%= @post.council_pickup_date %></p>
      </div>

      <h2>Photos</h2>
      <div class="photos">
      <% if @post.photos.attached? %>
        <% @post.photos.each do |image| %>
          <%= cl_image_tag image.key, height: 300, width: 300, crop: :fill,  class: "img-fluid" %>
        <% end %>
        <% end %>
      </div>

      <%raise%>

      <h2>Treasures</h2>
      <div class="treasures">
        <% if @post.treasures.any? %>
          <% @post.treasures.each do |treasure| %>
            <div class="treasure-item">
              <p><strong>Type:</strong> <%= treasure.treasure_type.category %></p>
              <p><strong>Description:</strong> <%= treasure.description %></p>
            </div>
          <% end %>
        <% else %>
          <p>No treasure has been added to this post.</p>
          <%= link_to 'Add Treasures', new_post_treasure_path(@post), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="card-footer">
      <%= link_to "Back to Posts", posts_path, class: "btn btn-secondary" %>

      <%# <% if @post.user == current_user %>
        <%= link_to "Edit", edit_post_path(@post), class: "btn btn-warning" %>
        <%= link_to post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Delete #{@post.description}?" }, class: 'btn btn-danger' do %>Delete
        <%# <% end %>
        <%= link_to 'Add Treasures', new_post_treasure_path(@post), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
