<div class="container mt-5">
<h2 class="mb-4">Hard rubbish details: <%= @post.location %></h2>
  <div class="row">
    <div class="col-md-8">

      <!-- Post Section -->
        <div class="card no-outline-shadow-card_ok mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 position-relative">
                        <% if @post.photos.attached? %>
                            <% @post.photos.each do |image| %>
                                <%= cl_image_tag image.key, height: 200, width: 200, crop: :fill, class: "show_image_card " %>
                            <% end %>

                            <div class="position-absolute top-0 start-1 p-2">
                                <% if current_user.favorited?(@post) %>
                                    <%= link_to unfavorite_post_path(@post), data: {turbo_method: :delete} do %>
                                        <i class="fa-solid fa-heart fa-lg"></i>
                                    <% end %>
                                <% else %>
                                    <%= link_to favorite_post_path(@post), data: {turbo_method: :post} do %>
                                        <i class="fa-regular fa-heart"></i>
                                    <% end %>
                                <% end %>
                            </div>

                        <% else %>
                            <p class="text-muted">No photos uploaded.</p>
                        <% end %>

                        <% if @post.user == current_user %>
                            <%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-outline-secondary btn-sm mt-2" %>
                            <%= link_to post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Delete #{@post.description}?" }, class: "btn btn-outline-danger btn-sm mt-2" do %> Delete Post <% end %>
                        <% end %>
                    </div>
                    <div class="col-md-8">
                        <p><strong>Description:</strong> <%= @post.description %></p>
                        <p><strong>Council pickup date:</strong> <%= @post.council_pickup_date %></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Treasures Section -->
        <div class="card no-outline-shadow-card_ok mb-5">
            <div class="card-body">
              <h4>Individual items</h4>
              <div class="treasures">
                <% if @post.treasures.any? %>
                  <% @post.treasures.each do |treasure| %>
                    <div class="row mb-1 treasure-item" id="treasure-item-<%= treasure.id %>">
                      <div class="col-md-4">
                        <% if treasure.photo.attached? %>
                          <%= cl_image_tag treasure.photo.key, height: 200, width: 200, crop: :fill, class: "show_image_card" %>
                        <% end %>
                          <% if @post.user == current_user %>
                            <%= link_to delete_post_treasure_path(@post, treasure), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-outline-danger btn-sm" do %> Delete item<% end %>
                          <% end %>
                      </div>
                      <div class="col-md-8">
                      <p><strong>Type:</strong> <%= treasure.treasure_type.category%></p>
                        <p><strong>Description:</strong> <%= treasure.description %></p>
                        <p><strong>Status:</strong> <%= treasure.status ? "Available" : "Not Available" %></p>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="col">
                    <p class="text-muted">No information for the individual items has been added.</p>
                  </div>
                <% end %>
              </div>
              <% if @post.user == current_user %>
                <%= link_to 'Add item', new_post_treasure_path(@post), class: "btn btn-primary btn-sm" %>
              <% end %>
            </div>
          </div>
        </div>

          <!-- Chatroom section -->
          <div class="col-md-4">
              <div class="card" style="border-radius: 15px;">
                  <div class="card-body">
                      <!-- Render the chatroom content -->
                      <%= render "chatrooms/chatroom", chatroom: @post.chatroom, current_user: current_user %>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <script>
    document.addEventListener('ajax:success', function(event) {
      if (event.target.matches('.btn-danger')) {
        var treasureId = event.detail[0].id;
        document.getElementById('treasure-item-' + treasureId).remove();
      }
    });
  </script>
</div>
