<div class="container">
  <h3>Edit Treasure</h3>
  <%= simple_form_for [@post, @treasure], url: post_treasure_path(@post, @treasure), method: :patch do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.association :treasure_type, label: "Treasure Type", collection: TreasureType.all, value_method: :id, label_method: :category, prompt: "Select a type" %>
      <%= f.input :description, label: "Description" %>
      <%= f.input :photo, label: "Include a photo", as: :file %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Update Treasure", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
